html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sorts Mill Goudy', "Georgia", Times New Roman, Times, serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    color: #404040;
}
a {
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover {
    color: #5c1611;
    text-decoration: underline;
}

header {
    padding: 25px 0;
    background: #fff;
/* border-bottom: 2px solid #bfbfbf; */
    border-bottom: 1px solid #EEE;
}
header #userAction {
    margin: -25px 0;
    text-align: right;
}
header #userAction>span {
    color: #bfbfbf;
    font-family: tahoma;
    letter-spacing: 3px;
    font-size: 11px;
}
header #userAction>span>a {
    color: #afafaf;
    letter-spacing: 0;
    text-decoration: none;
    font-weight: bold;
}
header .container {
    position: relative;
}
header h1 {
    position: relative;
    top: 10px;
    white-space: nowrap;
}
header h1 span {
    display: none;
}
nav {
    zoom: 1;
    position: absolute;
    top: 20px;
    right: 0;
}
nav:before, nav:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}
nav:after {
    clear: both;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    font-weight: bold;
    list-style: none;
    float: left;
    margin-left: 30px;
}
nav ul li a {
    line-height: 1;
    color: #6B6B6B;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-bottom: 12px;
    border-bottom: 3px solid #ffffff;
}
nav ul li a:hover, nav ul li a.active {
    color: #6B6B6B;
    padding-bottom: 12px;
    border-bottom-color: #cccccc;
    text-decoration: none;
}
nav ul li a.active {
    border-bottom-color: #423400;
}
nav ul li a span {
    display: block;
    margin: 0;
    color: #bfbfbf;
    font-size: 11px;
    font-weight: normal;
}
nav ul li a span.amp {
    display: inline;
}
ul.project-list {
    margin: 0 0 60px;
    list-style: none;
    zoom: 1;
}
ul.project-list:before, ul.project-list:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}
ul.project-list:after {
    clear: both;
}
ul.project-list li {
    float: left;
    margin-right: 20px;
    width: 220px;
    height: 240px;
}
ul.project-list li.newrow {
    margin-right: 0;
}
ul.project-list li a {
    color: #404040;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    font-size: 16px;
}
ul.project-list li a img {
    display: block;
    padding: 4px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
ul.project-list li a:hover {
    color: #9d261d;
    text-decoration: none;
}
ul.project-list li a:hover img {
    /*.box-shadow(0 0 4px @shadow);*/

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 630px;
    overflow: visible;
}
section > .container {
}
section > .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
}
footer {
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
footer > .container {
}
footer > .container > #licence {
    border-top: 1px solid #EEE;
    padding: 1em 0;
}

/* The auth form style */
.auth-form {
}
.auth-form h1 {
    margin-bottom: 20px;
}
.auth-form input {
    width: 285px;
}
.auth-form #elements {
    margin-bottom: 20px;
}
.auth-form #buttons {
}

/* home */
.carousel img {
    width: 960px;
    height: 500px;
}

.tweets {
    background: #444;
    padding: 1px 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.tweets .loading {
    padding: 10px 20px;
    color: #ccc;
}

.tweet {
    font-size: 13px;
    background: #fff;
    margin: 4px 0;
    padding: 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.tweet img {
    float: left;
}
.tweet .text {
    margin: 0;
    margin-left: 44px;
}
.tweet .username {
    display: block;
}
.tweet .username a {
    font-weight: bold;
    text-decoration: none;
    color: #111;
}
.tweet .time a {
    font-size: 80%;
    color: #888;
    white-space: nowrap;
    text-decoration: none;
    padding-left: 8px;
}

/* look */
.form-search > .label-form {
    text-align: right;
}

/* penpal */
#sendMessage .control-label {
    width: 80px;
}
#sendMessage .controls {
    margin-left: 100px;
}
#sendMessage .form-horizontal .form-actions {
    padding-left: 100px;
}

/* mypage */
#tags_tagsinput {
    background: transparent;
    border-color: transparent;
}
#tags_tagsinput input {
    border: 1px solid #CCC;
    background: white;
}

.badges ul.list {
    margin: 0px;
    padding: 4px 0px 0px 9px;
}
.badges ol,
.badges ul,
.badges li,
.badges dl,
.badges dt,
.badges dd {
    list-style: none;
}
.badges ul.list li {
    width: 105px;
    height: 125px;
    margin: 0px;
    padding: 5px 10px 10px;
    vertical-align: top;
    text-align:center;
    display:inline-block; 
    overflow: hidden;
}
.badges ul.list li img { 
    width: 88px;
    display: block;
    margin:0 auto;
    padding-bottom:5px;
}​