<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Little Finger > {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
 
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var Navigation = new Array('look','draw','penpal','mypage');
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div id="userAction" class="span6 pull-right">
                    {% if !loggedIn %}<span><a href="/register">Sign up</a> | <a href="/login">Login</a></span>
                    {% else %}<span><a>Logged in as {{user.login}}</a> | <a href="/logout">Logout</a></span>{% endif %}
                </div>
                <h1>
                    <a href="/"><img src="/images/littlefinger.png" /><span>Little Finger</em></a>
                </h1>
                <nav>
                    <ul>
                        <li><a href="/look">Look <span>Find promises</span></a></li>
                        <li><a href="/draw">Draw up <span>Make a promise</span></a></li>
                        <li><a href="/penpal">Penpal <span>Meet friends</span></a></li>
                        <li><a href="/mypage">My Page <span>Your activities</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        {% block body %}{% endblock %}
    </section>
    <footer>
        <div class="container">
            <div id="licence" class="row">
              <div class="span12">
                <blockquote>
                  <h3>Project of Sangsang Tour</h3>
                  <small>licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License .</small>
                </blockquote>
              </div>
            </div>
        </div>
    </footer>
</body>
</html>