{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<script type="text/javascript">
    $(function() {
        $("button[type='submit']").click(function() {
            alert('login');
            return false;
        });
        $("#signup").click(function() {
            $(window.location).attr('href', '/register');
            return false;
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
                <h2>Sign up</h2>
                <form action="/register" method="post">
                    <fieldset>
                        <div id="elements">
                            <div class="clearfix">
                                <label for="username">Email address:</label>
                                <input type="text" placeholder="Username" id="username" name="username">
                            </div>
                            <div class="clearfix">
                                <label for="password">Password:</label>
                                <input type="password" placeholder="Password" id="password" name="password">
                            </div>
                        </div>
                        <button class="btn btn-large btn-warning" type="submit">Sign in</button> or <button class="btn btn-small" id="signup">Sign up</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}